@import "tailwindcss";

@theme {
}

body{
    background-color: #0f0f0f;
    color: #ffffff;
}

@layer components{

    .page{
        @apply h-screen w-screen py-[20px] pl-[21px] flex
    }
    
    .header{
        @apply fixed top-0 h-[20px] left-0 w-full border-1 border-white flex items-center justify-between p-1
    }

    .footer{
        @apply fixed bottom-0 h-[20px] left-0 w-full h-[20px] flex justify-between items-center px-1 border-white border-1
    }

    .action-bar{
        @apply w-full flex items-center justify-between px-1 bg-[#111214] text-white p-1 border-white rounded-t-[3px]
    }

    .window{
        @apply w-fit h-fit bg-[#1E1E1E] rounded-[5px] border border-white
    }

    .body-part{
        @apply w-full h-full
    }

    .container{
        @apply h-[calc(100vh-40px)] flex flex-col items-center justify-center text-center gap-4 px-4
    }

    .projects-container{
        @apply h-[calc(100vh-40px)] grid grid-cols-2 gap-2 max-md:grid-cols-1 max-md:px-4
    }

    .project-item{
        @apply flex border-black border-1 h-fit p-4 gap-4 items-center
    } 

    .project-img-part{
        @apply size-1/3
    } 

    .project-description-part{
        @apply flex flex-col gap-y-4 w-full
    }

    .project-title{
        @apply font-bold text-center text-xl flex justify-between px-4
    }

    .skill-tag{
        @apply border-1 border-white rounded-xl p-1 text-[10px]
    }

    .project-description{
        @apply border-1 p-2 overflow-y-scroll max-h-2/4 h-20
    }

    .project-skills{
        @apply flex flex-wrap w-full gap-2 h-fit
    }

    .skills-container{
        @apply h-[calc(100vh-40px)] grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 p-4
    }

    .skill-item{
        @apply flex flex-col border-black border-1 h-fit p-4 gap-4 items-center
    } 

    .skill-img-part{
        @apply size-1/2
    } 

    .skill-description-part{
        @apply flex flex-col gap-y-2 w-full
    }
    
    .skill-title{
        @apply font-bold text-center text-xl
    }

    .skill-description{
        @apply border-1 p-2 overflow-y-scroll max-h-2/4 h-20
    }
}