@import "tailwindcss";

@theme {
    --font-global: sans-serif;
}

body{
    font-family: var(--font-global);
    font-size: 13px;
    padding: 20px;
    background-color: #868484;
}

@layer components{
    .action-bar{
        @apply w-full flex items-center justify-between px-1 bg-[#111214] text-white p-1 border-white rounded-t-[3px]
    }

    .window{
        @apply w-fit h-fit bg-[#1E1E1E] rounded-[5px] border border-white
    }

    .body-part{
        @apply w-full h-full
    }

    .container{
        @apply h-[calc(100vh-40px)] flex flex-col items-center justify-center text-center gap-4 px-4
    }

    .projects-container{
        @apply h-[calc(100vh-40px)] grid grid-cols-2 gap-2 max-md:grid-cols-1 max-md:px-4
    }

    .project-item{
        @apply flex border-black border-1 h-fit p-4 gap-4 items-center
    } 

    .project-img-part{
        @apply size-1/3
    } 

    .project-description-part{
        @apply flex flex-col gap-y-10 w-full
    }

    .project-title{
        @apply font-bold text-center text-xl
    }

    .project-description{
        @apply border-1 p-2 overflow-y-scroll max-h-2/4 h-20
    }


    .skills-container{
        @apply h-[calc(100vh-40px)] grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 p-4
    }

    .skill-item{
        @apply flex flex-col border-black border-1 h-fit p-4 gap-4 items-center
    } 

    .skill-img-part{
        @apply size-1/2
    } 

    .skill-description-part{
        @apply flex flex-col gap-y-2 w-full
    }
    
    .skill-title{
        @apply font-bold text-center text-xl
    }

    .skill-description{
        @apply border-1 p-2 overflow-y-scroll max-h-2/4 h-20
    }
}