@import "tailwindcss";

@theme {
    --color-home: #91ff87;
    --color-about: #4c82ed;
    --color-projects: #e04f62;
    --color-skills: #e0b74f;
    --color-contact: #855fed;
    --window-border: #7d7d7d;
}

body{
    background-color: #0f0f0f;
    color: #ffffff;
    font-family: "Outfit", sans-serif;
}

.project-description::-webkit-scrollbar{
    width: 5px;
}

.project-description::-webkit-scrollbar-thumb{
    background-color: var(--color-projects);
    border-radius: 10px;
}

.project-description::-webkit-scrollbar-track{
    background-color: rgba(4, 79, 98, 0.2);
    border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #7d7d7d;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background-color: rgba(114, 140, 146, 0.082);
    border-radius: 0 10px 10px 0;
}


@layer components{

    .action-bar{
        @apply  flex gap-4
    }

    .action-btn{
        @apply  flex gap-1
    }

    .page{
        @apply h-full w-full pl-[21px] mb-4 flex
    }
    
    .header{
        @apply fixed top-0 h-[20px] left-0 w-full border-1 border-white flex items-center justify-between p-1
    }

    .footer{
        @apply fixed bottom-0 h-[20px] left-0 w-full h-[20px] flex justify-between items-center px-1 border-white border-1
    }

    .action-bar{
        @apply text-sm w-full flex items-center justify-between px-1 bg-[#111214] border-b-1 backdrop-blur-2xl text-[#4d4f55] p-1 border-(--window-border) rounded-t-[3px]
    }

    .window{
        @apply w-fit h-fit bg-[#1e1e1e9c] backdrop-blur-2xl rounded-[5px] border border-(--window-border)
    }

    .body-part{
        @apply w-full h-full
    }

    .container{
        @apply flex flex-col items-center justify-center text-center gap-4 px-4
    }

    .projects-container{
        @apply h-[calc(100vh-40px)] grid grid-cols-2 gap-2 max-md:grid-cols-1 p-4 h-fit
    }

    .project-item{
        @apply flex rounded-md border-white/20 border-1 h-fit p-4 gap-4 items-center backdrop-blur-[3px]
    } 

    .project-img-part{
        @apply size-1/3
    } 

    .project-description-part{
        @apply flex flex-col gap-y-4 w-full
    }

    .project-title{
        @apply font-extralight text-center text-[15px] flex justify-between px-1 
    }

    .skill-tag{
        @apply  border-white/20 border-1 rounded-[10px] px-[5px] py-[3px] text-[10px]
    }

    .project-description{
        @apply text-[12px] text-[#ccc] font-extralight rounded-md border-white/20 border-1 p-2 overflow-y-scroll max-h-2/4 h-20
    }

    .project-skills{
        @apply flex flex-wrap w-full gap-2 h-fit
    }

    .skills-container{
        @apply h-[calc(100vh-40px)] h-fit justify-center items-center grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-7 gap-4 px-4
    }

    .skill-item{
        @apply backdrop-blur-md flex flex-col rounded-md border-white/20 border-1 p-4 w-[150px] gap-2 items-center
    } 

    .skill-img-part{
        @apply size-1/2
    } 

    .skill-description-part{
        @apply flex flex-col gap-y-2 w-full
    }
    
    .skill-title{
        @apply font-bold text-center text-xl
    }

    .skill-level{
        @apply px-5 pt-2 flex justify-center gap-1.5
    }

    .skill-point{
        @apply size-1 rounded-lg bg-(--color-skills)
    }

    .skill-blank-point{
        @apply size-1 rounded-lg bg-[#7d7d7d33]
    }
}